POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

AWS_ACCESS_KEY_ID=AKIA3BENG3ZHCPQIAKDZ
AWS_STORAGE_BUCKET_NAME=feedlocal
AWS_S3_REGION_NAME=us-west-1
AWS_SECRET_ACCESS_KEY=TJ0YxMgVVENInfWuiNIsnwOE/26JRws4EXzZlzGn

CLEAN_AFTER_DAYS=7
BASE_SITE=localhost

DEBUG=1

ACCESS_TOKEN_LIFETIME=24